@import "../scss/variables";
@import "~bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

pre {
    white-space: pre-wrap;
    background: $palette-2;
    border-radius: 5px;
    padding: 20px;
    color: $palette-1;
}

blockquote {
    border-left: 2px solid $palette-3;
    margin: 10px;
    padding-left: 10px;

    &:before,
    &:after {
        font-size: 2rem;
        color: $palette-4;
        line-height: 0.2;
        vertical-align: -0.5rem;
    }

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}
