@import "../scss/variables.scss";
@import "../scss/utils.scss";

// $bg-dark-color: #333;
// $bg-light-color: #fff;

.about {
    background: $dark-background-color;
    color: $light-font-color;
}

.row {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;

    .column {
        width: 50%;
        padding: 20px;

        .frame {
            background: url("../../public/jpg/me.JPG") no-repeat center
                center/cover;
            height: 300px;
            overflow: hidden;
            border-radius: 5px;
        }

        h2,
        p {
            color: white;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 2rem;
        }

        p {
            line-height: 1.5;
            font-size: 1.1rem;
            font-weight: 400;
            word-spacing: 2px;
        }

        .icon {
            color: $palette-3;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;

        .column {
            padding-left: 100px;
            padding-right: 100px;
            width: 100%;

            .frame {
                height: 350px;
            }
        }

        p {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: column;

        .column {
            padding-left: 30px;
            padding-right: 30px;
            width: 100%;

            .frame {
                height: 200px;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}
