@import "../scss/variables";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: $border-radius5;
    background: #fff;
    box-shadow: $box-shadow-full-light;

    &:hover {
        transform: scale(1.05);
    }

    img {
        display: block;
        margin: auto;
        width: 100%;
    }

    .title,
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        color: $dark-font-color;
    }

    .date {
        color: $medium-font-color;
    }

    .excerpt {
        text-align: left;
        font-size: 14px;
        font-weight: 600;
    }
}
