@import "../scss/variables";

.footer {
    background: $dark-background-color;
    color: $light-font-color;
    padding: 50px 25px;
    position: relative;

    .top {
        display: flex;
        flex-direction: column;
        text-align: left;

        .column {
            width: 100%;
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 20px;
        }

        .formInputRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .formInput {
                margin-bottom: 20px;
                width: 48%;
            }
        }

        .formInput,
        .formMessage {
            font-family: inherit;
            line-height: 1;
            padding: 10px;
            border-radius: $border-radius5;
            border: none;

            &:focus {
                background: $palette-2;
                font-weight: 600;
            }
        }

        .antispam {
            display: none;
        }

        .formMessage {
            width: 100%;
            height: 100px;
            line-height: 1;
        }

        .formSubmit {
            width: 100%;
        }
    }

    hr {
        width: 100%;
        height: 2px;
        background: #fff;
    }

    .bottom {
        margin-bottom: 50px;
    }

    .signature {
        text-align: center;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-left: 100px;
        padding-right: 100px;

        .top {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding-left: 200px;
        padding-right: 200px;

        .outer {
            max-width: 1200px;
            margin: auto;
        }
    }
}
