@import "../scss/variables";

.hero {
    height: 100vh;
    background: radial-gradient(
        circle farthest-corner at right bottom,
        #e9f0f2 0,
        #fcfeff 100%
    );
    color: $dark-font-color;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;

    .avatar {
        width: 100px;
        height: 100px;
    }

    h1,
    p {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
        max-width: 600px;
    }

    .socialIcons ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 20px;

        li {
            margin: 0 20px;

            a {
                border-radius: 50%;
                background: #fff;
                box-shadow: 1px 1px 5px rgba(#e9f0f2, 1);
                position: relative;
                padding: 20px 30px;

                i {
                    color: $palette-1;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 50%);
                }
            }
        }
    }
}
