@import "../scss/variables";

.card {
    position: relative;
    overflow: hidden;

    h2 {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        background: #fff;
        border-radius: $border-radius5;
        box-shadow: 3px 3px 3px rgba(#e9f0f2, 1);
        padding: 10px;
        width: 80%;
        margin: 20px auto;
    }

    iframe {
        width: 100%;
        height: 500px;
        border: 0;
        overflow: hidden;
        background: #fff;
        border-radius: $border-radius5;
        box-shadow: 3px 3px 3px rgba(#e9f0f2, 1), -3px -3px 3px rgba(#e9f0f2, 1);
        padding: 5px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        h2 {
            &:hover {
                box-shadow: 2px 2px 3px 1px $palette-4;
            }
        }
    }
}
