@import "../scss/variables";
@import "../modules/Tech.module.scss";

.resume {
    background: $light-background-color;
    color: $dark-font-color;
}

.top {

    padding-left: 80px;
    padding-right: 80px;

    .description {
        margin: 50px auto;
        text-align: center;
        max-width: 500px;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .stack {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}



.table {
    margin-top: 20px;
    padding: 20px;
    color: $dark-font-color;
    border-radius: $border-radius5;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .col {
        background: $light-background-color;
        border-radius: $border-radius5;
        padding-top: 20px;

        h5 {
            text-align: center;
        }
    }
}

.used {
    text-align: center;
}

.used:before {
    content: "*";
    margin-right: 10px;
    font-size: 2rem;
    color: $palette-3;
}
